<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Email</title>
</head>

<body>
  <div style="text-align: center;">
    <h1>Welcome to Our E-Learning Platform,!</h1>
    <p>
      Thank you for joining our platform. To activate your account, please use the following activation code:
    </p>
    <h2></h2>
    <p>
      Click on the link below to activate your account:
     
    </p>
    <p>
      If you didn't sign up for our platform, please ignore this email.
    </p>
  </div>
</body>

</html>
